:root {
	--bg1: light-dark(oklch(1 0 0), oklch(0.225 0 0));
	--bg2: light-dark(oklch(0.975 0 0), oklch(0.2 0 0));
	--bg3: light-dark(oklch(0.95 0 0), oklch(0.175 0 0));
	--bg4: light-dark(oklch(0.925 0 0), oklch(0.15 0 0));
	--bg5: light-dark(oklch(0.9 0 0), oklch(0.125 0 0));
	--bg6: light-dark(oklch(0.875 0 0), oklch(0.1 0 0));
	--col1: light-dark(oklch(0.1 0 0), oklch(1 0 0));
	--col2: light-dark(oklch(0.15 0 0), oklch(0.95 0 0));
	--col3: light-dark(oklch(0.2 0 0), oklch(0.9 0 0));
	--col4: light-dark(oklch(0.25 0 0), oklch(0.85 0 0));
	--col5: light-dark(oklch(0.3 0 0), oklch(0.8 0 0));
	--col6: light-dark(oklch(0.35 0 0), oklch(0.75 0 0));
}
