:root {
	font-family: system-ui;
	font-size: 24px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	border-style: none;
	list-style: none;
	margin: 0;
	padding: 0;
	overscroll-behavior-inline: contain;
	overscroll-behavior-block: contain;
}
